$color-nav-bar: #2c2c2c;
$color-footer: #ff9737;
$color-line-footer: #fda756;
$color-play-fond: #ffedc5;
$color-card-fondo: #FAF8F8;
$color-text-princ: #FFFEEB;
$text-color-p: #000000;
$text-footer-p: #fff;